.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 1000; /* Bảo đảm modal ở trên các phần tử khác */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Toastify__toast-container {
  z-index: 9999;
}
.modal.open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1); /* Full size when open */
}


.modal h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 15px;
}

/* Modal content styling */
.modal p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

/* Modal action buttons */
.modal .flex {
  display: flex;
  justify-content: space-between;
}

.modal button {
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.modal button:hover {
  opacity: 0.8;
}

.modal .bg-red-600 {
  background-color: #e74c3c;
  border: none;
  color: #fff;
}

.modal .bg-gray-600 {
  background-color: #bdc3c7;
  border: none;
  color: #fff;
}

.modal .bg-red-600:hover {
  background-color: #c0392b;
}

.modal .bg-gray-600:hover {
  background-color: #95a5a6;
}
