.sidebar-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 transparent;
}

.sidebar-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.sidebar-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 4px;
}

.sidebar-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
